@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Orelega+One&family=Raleway:wght@300&family=Roboto:wght@100&display=swap");
#h1 #infoNovelas {
  margin-top: 10px; }

#h1 {
  padding: 10px;
  text-align: center;
  border: black;
  color: white;
  background-color: black;
  border-style: inset;
  font-family: 'Roboto', sans-serif;
  margin-top: 10px; }

.footer {
  font-size: 15px;
  background-color: black;
  color: white;
  font-family: 'Roboto' , sans-serif; }

.contactos {
  padding: 20px;
  background-color: black;
  color: white;
  font-size: 40px;
  font-family: 'Roboto', sans-serif; }

#sitio {
  text-align: center;
  margin-top: 10px; }

#manga {
  padding: 50px;
  background-image: url("https://c.wallhere.com/photos/99/cb/manga_anime-1879243.jpg!d");
  color: red;
  font-family: 'Roboto' , sans-serif;
  text-align: center;
  backdrop-filter: blur(3px); }

#danmei {
  padding: 50px;
  text-align: center;
  color: black;
  background-repeat: no-repeat;
  background-size: cover; }
  #danmei #danmeiInfo {
    padding: 40px;
    color: white; }

#infoNovelas {
  padding: 100px;
  border-style: dotted;
  border-color: black;
  margin-top: 10px; }

#novelas {
  text-decoration: underline; }

#gradiente {
  background-color: #f39f86;
  background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%); }

#gradienteRomance {
  background-color: #f6f0c4;
  background-image: linear-gradient(315deg, #f6f0c4 0%, #d99ec9 74%); }

#gradienteFantasia {
  background-color: red;
  background-image: linear-gradient(300deg, #f5eded, #d72323, #3e3636, #000000); }

#gradienteManga {
  background-color: #e9bcb7;
  background-image: linear-gradient(315deg, #e9bcb7 0%, #29524a 74%); }

#gradienteNosotros {
  background-color: #21d190;
  background-image: linear-gradient(315deg, #21d190 0%, #d65bca 74%); }

.danmeiB {
  background-image: url("https://pm1.narvii.com/7671/e673a912a1f59110cb3a465773aedfb153d1c904r1-1928-1099v2_hq.jpg"); }

#nosotros2 {
  background-color: #f9c5d1;
  background-image: linear-gradient(315deg, #f9c5d1 0%, #9795ef 74%); }

#danmei {
  background-image: url("https://pillowfortmedia.s3.amazonaws.com/posts/9d846766b7cc_04.gif"); }

#novela1 {
  background-image: url("https://img.wattpad.com/a88058771d2fdb7f69fdd85250b47bab32a21d48/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f796d6d77366473626e64306466513d3d2d3833323432303339362e313565653538303331333636383638633339313732333731333832322e6a7067");
  background-size: cover; }

#novela2 {
  background-image: url("https://64.media.tumblr.com/89d2451087ebb0787e2e3f29740f80b5/0c9700f76b6e3c1d-66/s1280x1920/8695de88abbaf4f6ef5c6bdb41e127ad4c2ee27c.jpg");
  background-size: cover; }

#novela3 {
  background-image: url("https://i.pinimg.com/originals/1b/ee/1d/1bee1d9565ce5c9fbe9a97aef76f09df.jpg"); }

#novela4 {
  background-image: url("https://i.pinimg.com/originals/f7/de/38/f7de38ea6724ea619cd0b5013d989f55.jpg");
  background-size: contain; }

#novela5 {
  background-image: url("https://3.bp.blogspot.com/--VtwCqc9zt4/X6h8tdHL_eI/AAAAAAAAACU/3L-Pdoz8nu4AmYoCvEoReYbR5Qlu_qL7ACK4BGAYYCw/s1600/maxresdefault.jpg"); }

#novela6 {
  background-image: url("https://i.pinimg.com/564x/96/d2/9a/96d29a5c9085455d7f21d4162571f877.jpg");
  background-size: cover; }

#cardDisplay {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5px;
  margin-right: 10px;
  border-radius: 5px;
  margin-left: 5px; }

#mangaDisplay {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-right: 18px;
  border-radius: 10px;
  margin-left: 10px; }

.displaycomic {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  margin: 10px; }

/*animacion*/
.imagen {
  transition: width 2s; }

.imagen:hover {
  width: 100px; }

.animate {
  animation-name: animate;
  animation-iteration-count: 1;
  animation-duration: 5s;
  animation-delay: 0s; }

@keyframes animate {
  from {
    transform: translateX(-200px);
    opacity: 0; }
  to {
    transform: translateX(0);
    opacity: 150; } }

.animations {
  animation-name: animations;
  animation-iteration-count: 1;
  animation-duration: 8s;
  animation-delay: 2s; }

@keyframes animations {
  from {
    transform: translateX(-300px);
    opacity: 0; }
  to {
    transform: translateX(0);
    opacity: 100; } }

.ia-container {
  width: 685px;
  margin: 20px auto;
  overflow: hidden;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.08);
  border: 7px solid rgba(255, 255, 255, 0.6); }
  .ia-container figure {
    position: absolute;
    top: 0;
    left: 50px;
    /* width of visible piece */
    width: 335px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.6);
    transition: all 0.3s ease-in-out; }
  .ia-container > figure {
    position: relative;
    left: 0 !important; }
  .ia-container img {
    display: block;
    width: 100%; }
  .ia-container input {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    cursor: pointer;
    border: 0;
    padding: 0;
    opacity: 0;
    z-index: 100;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
    .ia-container input:checked {
      width: 5px;
      left: auto;
      right: 0px; }
      .ia-container input:checked ~ figure {
        left: 335px;
        transition: all 0.7s ease-in-out; }
  .ia-container figcaption {
    width: 100%;
    height: 100%;
    background: rgba(87, 73, 81, 0.1);
    position: absolute;
    top: 0px;
    transition: all 0.2s linear; }
    .ia-container figcaption span {
      position: absolute;
      top: 40%;
      margin-top: -30px;
      right: 20px;
      left: 20px;
      overflow: hidden;
      text-align: center;
      background: rgba(87, 73, 81, 0.3);
      line-height: 20px;
      font-size: 18px;
      opacity: 0;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-weight: 700;
      padding: 20px;
      color: #fff;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); }
  .ia-container input:checked + figcaption, .ia-container input:checked:hover + figcaption {
    background: rgba(87, 73, 81, 0); }
  .ia-container input:checked + figcaption span {
    transition: all 0.4s ease-in-out 0.5s;
    opacity: 1;
    top: 50%; }
  .ia-container #ia-selector-last:checked + figcaption span {
    transition-delay: 0.3s; }
  .ia-container input:hover + figcaption {
    background: rgba(87, 73, 81, 0.03); }
  .ia-container input:checked ~ figure input {
    z-index: 1; }

@media screen and (max-width: 720px) {
  .ia-container {
    width: 540px; }
    .ia-container figure {
      left: 40px;
      width: 260px; }
    .ia-container input {
      width: 40px; }
      .ia-container input:checked ~ figure {
        left: 260px; }
    .ia-container figcaption span {
      font-size: 16px; } }

@media screen and (max-width: 520px) {
  .ia-container {
    width: 320px; }
    .ia-container figure {
      left: 20px;
      width: 180px; }
    .ia-container input {
      width: 20px; }
      .ia-container input:checked ~ figure {
        left: 180px; }
    .ia-container figcaption span {
      font-size: 12px;
      letter-spacing: 2px;
      padding: 10px;
      margin-top: -20px; } }
