#gradiente{
    background-color: #f39f86;
    background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%);
}

#gradienteRomance{
    background-color: #f6f0c4;
    background-image: linear-gradient(315deg, #f6f0c4 0%, #d99ec9 74%);
}

#gradienteFantasia{
    background-color: red;
    background-image: linear-gradient(300deg, #f5eded,#d72323,#3e3636,#000000);
}

#gradienteManga{
    background-color: #e9bcb7;
    background-image: linear-gradient(315deg, #e9bcb7 0%, #29524a 74%);
}

#gradienteNosotros{
    background-color: #21d190;
    background-image: linear-gradient(315deg, #21d190 0%, #d65bca 74%);
}

.danmeiB{
    background-image: url("https://pm1.narvii.com/7671/e673a912a1f59110cb3a465773aedfb153d1c904r1-1928-1099v2_hq.jpg");
}

#nosotros2{
    background-color: #f9c5d1;
    background-image: linear-gradient(315deg, #f9c5d1 0%, #9795ef 74%);
}

#danmei{
    background-image: url("https://pillowfortmedia.s3.amazonaws.com/posts/9d846766b7cc_04.gif");
}

