#gradiente{
    background-color: #f39f86;
    background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%);
}

#gradienteRomance{
    background-color: #f6f0c4;
    background-image: linear-gradient(315deg, #f6f0c4 0%, #d99ec9 74%);
}

#gradienteFantasia{
    background-color: red;
    background-image: linear-gradient(300deg, #f5eded,#d72323,#3e3636,#000000);
}

#gradienteManga{
    background-color: #e9bcb7;
    background-image: linear-gradient(315deg, #e9bcb7 0%, #29524a 74%);
}

#gradienteNosotros{
    background-color: #21d190;
    background-image: linear-gradient(315deg, #21d190 0%, #d65bca 74%);
}

.danmeiB{
    background-image: url("https://pm1.narvii.com/7671/e673a912a1f59110cb3a465773aedfb153d1c904r1-1928-1099v2_hq.jpg");
}

#nosotros2{
    background-color: #f9c5d1;
    background-image: linear-gradient(315deg, #f9c5d1 0%, #9795ef 74%);
}

#danmei{
    background-image: url("https://pillowfortmedia.s3.amazonaws.com/posts/9d846766b7cc_04.gif");
}

#novela1{
    background-image:url("https://img.wattpad.com/a88058771d2fdb7f69fdd85250b47bab32a21d48/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f796d6d77366473626e64306466513d3d2d3833323432303339362e313565653538303331333636383638633339313732333731333832322e6a7067");
    background-size: cover;
}

#novela2{
    background-image: url("https://64.media.tumblr.com/89d2451087ebb0787e2e3f29740f80b5/0c9700f76b6e3c1d-66/s1280x1920/8695de88abbaf4f6ef5c6bdb41e127ad4c2ee27c.jpg");
    background-size: cover;
}

#novela3{
    background-image: url("https://i.pinimg.com/originals/1b/ee/1d/1bee1d9565ce5c9fbe9a97aef76f09df.jpg");
}

#novela4{
    background-image: url("https://i.pinimg.com/originals/f7/de/38/f7de38ea6724ea619cd0b5013d989f55.jpg");
    background-size: contain ;
}

#novela5{
    background-image: url("https://3.bp.blogspot.com/--VtwCqc9zt4/X6h8tdHL_eI/AAAAAAAAACU/3L-Pdoz8nu4AmYoCvEoReYbR5Qlu_qL7ACK4BGAYYCw/s1600/maxresdefault.jpg");
}

#novela6{
    background-image: url("https://i.pinimg.com/564x/96/d2/9a/96d29a5c9085455d7f21d4162571f877.jpg");
    background-size: cover;
}