#cardDisplay{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5px;
    margin-right: 10px;
    border-radius: 5px;
    margin-left: 5px;
}

#mangaDisplay{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-right: 18px;
    border-radius: 10px;
    margin-left: 10px;
}

.displaycomic{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    margin: 10px;
}